{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            {% for apokemon in pokedex %}
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group item">
                                <img src="{{ apokemon.img_url }}" class="card-img-top" alt="{{ apokemon.pokemon_name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ apokemon.pokemon_name }}</h5>
                                    <p class="card-text">{{ apokemon.ability1 }}</p>
                                    <p class="card-text">{{ apokemon.ability2 }}</p>
                                </div>
                            </a>
                         </li>
                        
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

